@font-face {
    font-family: 'Pixel-Font';
    src: url('https://jgouken.github.io/PRToolVersionCheck/RD%20Pixel%20Font/rhythm-doctor-pixel-font.otf.woff2') format('woff2');
}

body,
html {
    position: fixed;
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: black;
    color: white;
    z-index: 1;
    font-family: 'Pixel-Font', sans-serif;
}

div,
p,
h1,
h2,
h3,
h4,
h5,
h6,
span {
    position: fixed;
    position: relative;
    top: 0;
    margin: 0;
    padding: 0;
    color: white;
    z-index: 1;
}

.screen {
    
}

.background-image {
    position: fixed;
    background: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.99), rgba(0, 0, 0, 0.75)),
        url('assets/backgrounds/WarhamshirePlaceholder.jpg');
    background-color: rgba(0, 0, 0, 0.125);
    background-position: center;
    background-repeat: no-repeat;
    background-size: fit;

    height: 100%;
    width: 100%;
    top: 0;
    z-index: 1;
}

.centered-inputs {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 20px;
    margin-top: 300px;
}

.centered-buttons {
    position: relative;
    display: flex;
    justify-content: center;
    margin-top: 400px;
    gap: 50px;
}

.name-input {
    font-family: "Pixelify Sans", sans-serif;
    font-size: 32px;
    padding: 8px;
    width: 1000px;
    background-color: rgba(0, 0, 0, 0);
    border: 1px solid white;
    color: white;
    text-align: center;
}

.credits {
    font-family: "Pixelify Sans", sans-serif;
    position: fixed;
    top: 95%;
    bottom: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 18px;
    padding: 10px 20px;
    box-sizing: border-box;
    z-index: 1000;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.35), transparent);
    color: #fff;
}

.regular-button {
    font-family: "Pixelify Sans", sans-serif;
    font-size: 32px;
    padding: 10px 24px;
    background-color: rgb(20, 5, 228);
    color: black;
    border: 5px solid rgb(1, 0, 88);
    cursor: pointer;
    opacity: 1;
}

/* Player HUD Styles */

.player {
    position: fixed;
    top: 77vh;
    left: 10px;
    z-index: 2;
    width: 700px;
    height: auto;
    overflow: hidden;
    object-fit: cover;

    img {
        width: 100%;
        height: auto;
        margin-top: -30px;
        position: relative;
        z-index: 2;
    }
}

.experience-bar {
    position: absolute;
    top: 80px;
    left: 121px;
    width: 0px;
    /* 455px at max */
    height: 31px;
    background-color: rgba(0, 140, 255, 1);
    border-right: 3px solid white;
    z-index: 1;
    transition: width 2s ease-out;
}

.health-bar {
    position: absolute;
    top: 110px;
    left: 110px;
    width: 0px;
    /* 560px at max */
    height: 35px;
    background-color: rgb(0, 255, 13);
    border-right: 6px solid white;
    transform: skewX(-45deg);
    z-index: 1;
    transition: width 2s ease-in-out;
}

.stamina-bar {
    position: absolute;
    top: 145px;
    left: 100px;
    width: 0px;
    /* 310px at max */
    height: 25px;
    background-color: rgb(251, 255, 0);
    z-index: 1;
    transition: width 2s ease-in-out;
}

.experience-bar-stats {
    position: absolute;
    top: 87px;
    left: 300px;
    font-family: 'Pixel-Font', sans-serif;
    font-size: 20px;
    color: black;
    z-index: 2;
}

.health-bar-stats {
    position: absolute;
    top: 116px;
    left: 340px;
    font-family: 'Pixel-Font', sans-serif;
    font-size: 30px;
    color: black;
    z-index: 2;
}

.stamina-bar-stats {
    position: absolute;
    top: 153px;
    left: 230px;
    font-family: 'Pixel-Font', sans-serif;
    font-size: 20px;
    color: black;
    z-index: 2;
}

.mini-stats {
    position: absolute;
    top: 160px;
    left: 430px;
    font-family: 'Pixel-Font', sans-serif;
    font-size: 16px;
    color: white;
    z-index: 2;

    span {
        margin-right: 7px;
    }
}

/* Returning Player Screen */