[x-cloak] {
    display: none !important
}

@font-face {
    font-family: 'Pixel-Font';
    src: url('https://jgouken.github.io/PRToolVersionCheck/RD%20Pixel%20Font/rhythm-doctor-pixel-font.otf.woff2') format('woff2');
}

/* ===== Scrollbar CSS ===== */
/* Firefox */
* {
    scrollbar-width: auto;
    scrollbar-color: #5c5c5c #050101;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
    width: 12px;
}

*::-webkit-scrollbar-track {
    background: #050101;
}

*::-webkit-scrollbar-thumb {
    background-color: #5c5c5c;
    border-radius: 10px;
    border: 3px solid #000000;
}

body,
html {
    position: fixed;
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: black;
    color: white;
    z-index: 1;
    font-family: 'Pixel-Font', sans-serif;
}

div,
p,
h1,
h2,
h3,
h4,
h5,
h6,
span {
    position: fixed;
    position: relative;
    top: 0;
    margin: 0;
    padding: 0;
    color: white;
    z-index: 1;
}

#global-tooltip {
    position: fixed;
    pointer-events: none;
    background-color: rgba(0, 0, 0, 0.85);
    color: #fff;
    font-size: 16px;
    padding: 8px 8px;
    border-radius: 4px;
    opacity: 0;
    transition: opacity 0.2s ease;
    z-index: 9999;
    white-space: pre-line;
}

[data-tooltip] {
    cursor: default;
    text-decoration: none;
    transition: text-decoration-color 2s ease;
}

[data-tooltip]:hover {
    text-decoration: underline;
}

.background-image {
    position: fixed;
    background: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.99), rgba(0, 0, 0, 0.75)),
        url('assets/backgrounds/WarhamshirePlaceholder.gif');
    background-color: rgba(0, 0, 0, 0.125);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    height: 100%;
    width: 100%;
    top: 0;
    z-index: 1;
}

.overlay-transparency {
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    background-color: rgba(0, 0, 0, 1);
    z-index: 99;
    pointer-events: none;
}

.centered-inputs {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 20px;
    margin-top: 300px;
}

.centered-buttons {
    position: relative;
    display: flex;
    justify-content: center;
    margin-top: 400px;
    gap: 15px;
}

.name-input {
    font-family: "Pixelify Sans", sans-serif;
    font-size: 32px;
    padding: 8px;
    width: 1000px;
    background-color: rgba(0, 0, 0, 0);
    border: 1px solid white;
    color: white;
    text-align: center;
}

.credits {
    font-family: "Pixelify Sans", sans-serif;
    position: fixed;
    top: 95%;
    bottom: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 18px;
    padding: 10px 20px;
    box-sizing: border-box;
    z-index: 1000;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.35), transparent);
    color: #fff;
}

.regular-button {
    font-family: "Pixelify Sans", sans-serif;
    font-size: 32px;
    padding: 10px 24px;
    background-color: rgb(20, 5, 228);
    color: black;
    border: 5px solid rgb(1, 0, 88);
    cursor: pointer;
    opacity: 1;
}

/* Player HUD Styles */

.player {
    position: relative;
    top: 75vh;
    left: 10px;
    z-index: 2;
    width: 700px;
    height: auto;
    overflow: visible;
    object-fit: cover;
    pointer-events: none;
    transition: all 2.5s ease-in-out;

    img {
        width: 100%;
        height: auto;
        margin-top: -30px;
        position: relative;
        z-index: 2;
    }
}

.battle-weaponry {
    position: absolute;
    left: 225%;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    border: 12px solid rgb(0, 0, 0);
    padding: 10px 14px;
    font-family: 'Pixel-Font', sans-serif;
    font-size: 24px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 35%;
}

.pstatus-effects {
    position: absolute;
    left: 100%;
    top: 50%;
    transform: translateY(-50%);
    padding: 10px 14px;
    font-family: 'Pixel-Font', sans-serif;
    font-size: 64px;
    color: white;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: center;
    align-items: center;
    width: 120%;
    gap: 40px;

    img {
        display: block;
        width: 55px;
        height: auto;
        transform: translateY(20%);
        flex-shrink: 0;
    }
}

.experience-bar-background {
    position: absolute;
    top: 80px;
    left: 121px;
    width: 455px;
    height: 31px;
    background-color: rgba(0, 140, 255, 0.37);
    z-index: 1;
}

.health-bar-background {
    position: absolute;
    top: 110px;
    left: 110px;
    width: 560px;
    height: 35px;
    background-color: rgba(255, 0, 0, 0.308);
    transform: skewX(-45deg);
    z-index: 1;
}

.stamina-bar-background {
    position: absolute;
    top: 145px;
    left: 100px;
    width: 310px;
    height: 25px;
    background-color: rgba(255, 238, 0, 0.164);
    z-index: 1;
}

.experience-bar {
    position: absolute;
    top: 80px;
    left: 121px;
    width: 0px;
    /* 455px at max */
    height: 31px;
    background-color: rgba(0, 140, 255, 1);
    transform: skewX(-45deg);
    border-right: 6px solid white;
    z-index: 1;
    transition: width 2s ease-out;
}

.health-bar {
    position: absolute;
    top: 110px;
    left: 110px;
    width: 0px;
    /* 560px at max */
    height: 35px;
    background-color: rgb(0, 255, 13);
    border-right: 6px solid white;
    transform: skewX(-45deg);
    z-index: 1;
    transition: width 2s ease-out;
}

.stamina-bar {
    position: absolute;
    top: 145px;
    left: 100px;
    width: 0px;
    /* 310px at max */
    height: 25px;
    background-color: rgb(251, 255, 0);
    border-right: 6px solid white;
    transform: skewX(-45deg);
    z-index: 1;
    transition: width 2s ease-out;
}

.experience-bar-stats {
    position: absolute;
    top: 87px;
    left: 260px;
    font-family: 'Pixel-Font', sans-serif;
    font-size: 20px;
    color: black;
    z-index: 2;
}

.health-bar-stats {
    position: absolute;
    top: 116px;
    left: 319px;
    font-family: 'Pixel-Font', sans-serif;
    font-size: 30px;
    color: black;
    z-index: 2;
}

.stamina-bar-stats {
    position: absolute;
    top: 153px;
    left: 227px;
    font-family: 'Pixel-Font', sans-serif;
    font-size: 20px;
    color: black;
    z-index: 2;
}

.mini-stats {
    position: absolute;
    top: 160px;
    left: 430px;
    width: 50%;
    font-family: 'Pixel-Font', sans-serif;
    font-size: 16px;
    color: white;
    z-index: 2;

    span {
        margin-right: 10px;
    }
}

/* ENCOUNTER */

.encounter {
    display: block;
}

.enemy {
    position: fixed;
    z-index: 2;
    width: 100%;
    height: 17%;
    object-fit: cover;
    pointer-events: none;
    transition: all 2.5s ease-in-out;
}

.enemy-heart {
    position: absolute;
    width: 100%;
    height: auto;
    margin-top: 30px;
    z-index: 2;
}

.enemy-thumbnail {
    position: absolute;
    top: 180px;
    height: 150px;
    left: 85%;
    margin-top: -160px;
    z-index: 2;
}

.enemy-health-bar-background {
    position: absolute;
    width: 80%;
    height: 30px;
    left: 50px;
    margin-top: 50px;
    background-color: rgb(41, 0, 0);
    border-radius: 20px;
    border: 5px solid black;
}

.enemy-health-bar {
    position: absolute;
    /* 80% max */
    width: 0%;
    height: 30px;
    left: 50px;
    top: 55px;
    background-color: rgb(117, 0, 0);
    border-radius: 20px;
    z-index: 2;
    transition: all 2.0s ease-out;
}

.enemy-health-bar-stats {
    position: absolute;
    margin-top: 60px;
    left: 35%;
    font-family: 'Pixel-Font', sans-serif;
    font-size: 30px;
    color: white;
    z-index: 4;
}

.enemy-level {
    position: absolute;
    top: 9%;
    left: 5%;
    font-family: 'Pixel-Font', sans-serif;
    font-size: 20px;
    color: white;
    z-index: 4;
}

.enemy-name {
    position: absolute;
    top: 20%;
    left: 5%;
    font-family: 'Pixelify Sans', sans-serif;
    font-size: 50px;
    color: white;
    z-index: 4;
}

.estatus-effects {
    position: absolute;
    left: 27%;
    margin-top: 22px;
    transform: translateY(-50%);
    padding: 10px 14px;
    font-family: 'Pixel-Font', sans-serif;
    font-size: 64px;
    color: white;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-content: center;
    align-items: center;
    width: 58%;
    gap: 20px;

    img {
        display: block;
        width: 42px;
        height: auto;
        transform: translateY(20%);
        flex-shrink: 0;
    }
}

.battle-log {
    position: fixed;
    left: 50%;
    top: 35%;
    transform: translate(-50%, -50%);
    display: block;
    flex-direction: column;
    justify-content: flex-end;
    align-items: left;
    width: 90%;
    height: 30%;
    background-color: rgba(0, 0, 0, 0.5);
    border: 10px solid black;
    padding: 10px;
    overflow-y: auto;
    font-family: 'Pixelify Sans', sans-serif;
    font-size: 28px;
    color: white;
    line-height: 2;
    z-index: 2;
    white-space: pre-line;
}

.battle-station {
    position: fixed;
    display: flex;
    margin: 0 auto;
    gap: 10px;
    bottom: 0;
    top: 55%;
    left: 50%;
    transform: translateX(-50%);
    width: 90%;
    height: 20%;
    background-color: rgba(4, 0, 39, 0.37);
    z-index: 2;
}

.battle-buttons {
    flex: 7;
    display: flex;
    background-color: rgba(0, 0, 0, 0.5);
    margin: 10px;
    padding: 10px;
    font-family: 'Pixel-Font', sans-serif;
    font-size: 24px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.round-info {
    flex: 1;
    background-color: rgba(0, 0, 0, 0.5);
    border: 1px solid white;
    margin: 10px;
    padding: 10px;
    font-family: 'Pixel-Font', sans-serif;
    font-size: 24px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* DEBUG */

.debug {
    top: -27vh;
    left: 50%;
    transform: translateX(-50%);
    padding: 20px;
    color: white;
    font-family: 'Pixelify Sans', sans-serif;
    max-width: 50%;
}

.debug-grid {
    display: grid;
    gap: 12px;
}

.debug-grid input {
    padding: 10px;
    font-size: 18px;
    background: #111;
    color: white;
    border: 2px solid #555;
    font-family: 'Pixel-Font', sans-serif;
}