@font-face {
    font-family: 'Pixel-Font';
    src: url('https://jgouken.github.io/PRToolVersionCheck/RD%20Pixel%20Font/rhythm-doctor-pixel-font.otf.woff2') format('woff2');
}

body,
html {
    position: fixed;
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: black;
    color: white;
    z-index: 1;
    font-family: 'Pixel-Font', sans-serif;
}

div,
p,
h1,
h2,
h3,
h4,
h5,
h6,
span {
    position: fixed;
    position: relative;
    top: 0;
    margin: 0;
    padding: 0;
    color: white;
    z-index: 1;
}

.screen {
    transition: all 0.5s ease-in-out;
}

.background-image {
    position: fixed;
    background: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.99), rgba(0, 0, 0, 0.75)),
        url('assets/WarhamshirePlaceholder.jpg');
    background-color: rgba(0, 0, 0, 0.125);
    background-position: center;
    background-repeat: no-repeat;
    background-size: fit;

    height: 100%;
    width: 100%;
    top: 0;
    z-index: 1;
}

.new-name {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 20px;
    margin-top: 300px;
}

.name-input {
    font-family: "Pixelify Sans", sans-serif;
    font-size: 32px;
    padding: 8px;
    width: 1000px;
    background-color: rgba(0, 0, 0, 0);
    border: 1px solid white;
    color: white;
    text-align: center;
}

.credits {
    font-family: "Pixelify Sans", sans-serif;
    position: fixed;
    top: 95%;
    bottom: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 18px;
    padding: 10px 20px;
    box-sizing: border-box;
    z-index: 1000;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.35), transparent);
    color: #fff;
}

.start-button {
    font-family: "Pixelify Sans", sans-serif;
    font-size: 32px;
    padding: 10px 24px;
    background-color: rgb(0, 255, 195);
    color: black;
    border: 2px solid white;
    cursor: pointer;
    opacity: 1;
}

.player {
    position: fixed;
    top: 700px;
    left: 10px;
    z-index: 2;
    width: 700px;
    height: auto;
    overflow: hidden;
    object-fit: cover;
}

.player img {
    width: 100%;
    height: auto;
    margin-top: -30px;
    position: relative;
    z-index: 2;
}

.experience-bar {
    position: absolute;
    top: 80px;
    left: 121px;
    width: 455px;
    /* 455px at max */
    height: 35px;
    background-color: rgba(0, 140, 255, 1);
    border-right: 3px solid white;
    z-index: 1;
}

.experience-bar-stats {
    position: absolute;
    top: 82px;
    left: 320px;
    font-family: 'Pixelify Sans', sans-serif;
    font-size: 20px;
    color: white;
    -webkit-text-stroke-width: .5px;
    -webkit-text-stroke-color: black;
    z-index: 2;
}

.health-bar {
    position: absolute;
    top: 110px;
    left: 110px;
    width: 560px;
    /* 560px at max */
    height: 35px;
    background-color: rgb(0, 255, 13);
    border-right: 6px solid white;
    transform: skewX(-45deg);
    z-index: 1;
}

.health-bar-stats {
    position: absolute;
    top: 108px;
    left: 380px;
    font-family: 'Pixelify Sans', sans-serif;
    font-size: 30px;
    color: white;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: black;
    z-index: 2;
}

.stamina-bar {
    position: absolute;
    top: 145px;
    left: 100px;
    width: 310px;
    /* 310px at max */
    height: 25px;
    background-color: rgb(251, 255, 0);
    z-index: 1;
}

.stamina-bar-stats {
    position: absolute;
    top: 148px;
    left: 240px;
    font-family: 'Pixelify Sans', sans-serif;
    font-size: 20px;
    color: black;
    -webkit-text-stroke-width: .5px;
    -webkit-text-stroke-color: white;
    z-index: 2;
}