@font-face {
    font-family: 'Pixel-Font';
    src: url('https://jgouken.github.io/PRToolVersionCheck/RD%20Pixel%20Font/rhythm-doctor-pixel-font.otf.woff2') format('woff2');
}

body,
html {
    position: fixed;
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: black;
    color: white;
    z-index: 1;
    font-family: 'Pixel-Font', sans-serif;
}

div,
p,
h1,
h2,
h3,
h4,
h5,
h6,
span {
    position: fixed;
    position: relative;
    top: 0;
    margin: 0;
    padding: 0;
    color: white;
    z-index: 1;
}

.screen {
    transition: all 0.5s ease-in-out;
}

.background-image {
    position: fixed;
    background: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.99), rgba(0, 0, 0, 0.75)),
        url('assets/WarhamshirePlaceholder.jpg');
    background-color: rgba(0, 0, 0, 0.125);
    background-position: center;
    background-repeat: no-repeat;
    background-size: fit;

    height: 100%;
    width: 100%;
    top: 0;
    z-index: 1;
}

.new-name {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 20px;
    margin-top: 300px;
}

.name-input {
    font-family: "Pixelify Sans", sans-serif;
    font-size: 32px;
    padding: 8px;
    width: 1000px;
    background-color: rgba(0, 0, 0, 0);
    border: 1px solid white;
    color: white;
    text-align: center;
}

.credits {
    font-family: "Pixelify Sans", sans-serif;
    position: fixed;
    top: 95%;
    bottom: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 18px;
    padding: 10px 20px;
    box-sizing: border-box;
    z-index: 1000;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.35), transparent);
    color: #fff;
}

.start-button {
    font-family: "Pixelify Sans", sans-serif;
    font-size: 32px;
    padding: 10px 24px;
    background-color: rgb(0, 255, 195);
    color: black;
    border: 2px solid white;
    cursor: pointer;
    opacity: 1;
}